extend includes/_layout
append variables
  - var pageTitle= "";
  - var pageDescription= "";
  - var pageOgpTitle= "";
  - var pageOgpImage= "";
  - var pageLang= "ja";
  - var pageOgpType= "website";

block content
  .wrapper
    main
      #target
        p あいうえお
        p （・-・）
      p
        button(type="button" id="button") html2canvas
        a#getImage(style="display:none;" download="image.png") 画像保存